.home {
  background: linear-gradient(45deg, #1f2f44, #1f2f44, #4CAF50); 
  background-size: 300% 300%;
  animation: gradientAnimation 15s ease infinite; 
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: 11px auto;
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.home-header {
  margin-bottom: 20px;
}

.home-title {
  font-size: 3em;
  color: #4CAF50;
  animation: fadeInDown 1.2s ease-in-out;
}

.home-subtitle {
  font-size: 1.5em;
  margin-top: 10px;
  color: #777;
}

.home-content {
  margin: 30px 0;
}

.home-footer {
  margin-top: 20px;
  font-size: 1em;
  color: #555;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Styles for the Navbar */
.navbar {
  background-color: #4CAF50;
  padding: 20px 0;
  text-align: center;
  position: relative;
}

/* Logo positioning */
.logo-container {
  position: absolute;
  top: 5px;
  left: 20px;
}

.logo {
  height: 100px; 
  width: 100px;
  opacity: 0.5; 
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  mix-blend-mode: lighten; 
  border-radius: 50%;
}

.logo:hover {
  opacity: 1; 
  transform: scale(1.1); 
}

.navbar-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-links li {
  display: inline;
  margin: 0 20px;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
}

.navbar-links a:hover {
  text-decoration: underline;
  color: #ddd;
}

@media (max-width: 600px) {
  .navbar-links li {
    display: block;
    margin: 10px 0;
  }
}

/* Footer styles */
.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 11px; 
}

.footer p {
  margin: 0;
  font-size: 1em;
}

.social-media {
  margin-top: 10px;
}

.social-media a {
  margin: 0 15px;
  color: #4CAF50;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.social-media a:hover {
  color: #77dd77;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cta-buttons {
  margin-top: 20px;
}

.cta-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
  background-color: #45a049;
  transform: translateY(-5px);
}

.cta-button:active {
  transform: translateY(0);
}
